body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-align: justify;
    background-color: #e7e7e7d4;
    margin: 20;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

h1 {
    color: #ff6347;
    font-size: 24px;
    background-color: #ffebcd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    background-color: #f5deb3;
    padding: 10px;
    border-radius: 5px;
}

body::before {
    content: "";
    display: block;
    border-left: 4px solid #959393;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}


img {
    display: block;
    margin: 0 auto;
    transition: border 0.3s;
    border-radius: 13px;
}

img:hover {
    border: 1px solid #858585;
}

img.shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

section {
    margin-top: 20px;
}

footer {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}
